{% extends 'mainapp/base.html' %}
{% load static %}
{% block navblock%}

  



  <!-- images -->
  <div class="images my-4">
    <img src="https://els-jbs-prod-cdn.jbs.elsevierhealth.com/cms/asset/130bc4f1-d4a4-4f32-8963-1019f6466904/fx1.jpg"
      class="img-fluid" style="width: 100%; height: auto;" alt=" image">
  </div>
  <div class="ambika my-5">
    <h3>Civil Service Hospital</h3>
    <p>We provide state of the art pathology services in a very affordable fees.</p>
  </div>
  <!-- end images -->
  <div class="container">
    
  
  <div class="pragh">
    <h2 class="tittle text-center mb-5 ">About</h2>
    <p  class=" col-md-10 offset-md-1">The need for such a hospital arose in view of the fact that Nepal Army and Nepal Police employees had hospitals
      dedicated to them while civil service employees of Nepal Government had none. Thus, Nepal Government approached
      the Peoples’ Republic of China (PRC) with the request to help build Civil Service Hospital (CSH). An agreement to
      this effect was signed between the Government of Nepal and PRC . CSH is located at Minbhawan, Kathmandu. CSH is an
      autonomous government institution under the Ministry of General Administration (MoGA). A seven-member Hospital
      Board with full executive powers to run the Hospital was constituted by the MoGA and endorsed by The Council Of
      Ministers. The Hospital Board sets policies and programs during its regular meeting chaired by the Hospital Board
      Chairman. The Executive Director (ED) of the Hospital executes and regulates the day to day work of the Hospital.
      The ED is one of the board members and has a full-time paid job.&nbsp;</p>
    <p class=" col-md-10 offset-md-1"> The foundation stone of CSH was laid by&nbsp; Prime Minister Sher Bahadur Deuba .The 132-bedded and fully
      equipped Hospital was handed over to the Government of Nepal by the PRC on November 14, 2008. Out-patient services
      were started on March 29, 2009. The Hospital was officially inaugurated by Prime Minister Madhav Kumar Nepal on
      May 30, 2009. In addition to the already existing out-patient services, emergency, in-patient, and operation
      services were started on January 21, 2010.</p>
    <div id="list">
      <div id="onelist">
        <h3 class="text-center"><b>CIVIL SERVICE HOSPITAL HIGHLIGHTS</b></h3>
        <div>
          <ul class="col-md-10 offset-md-1"">
            <li>Hospital for the employees of Nepal Government</li>
            <li>Supported by the Peoples’ Republic of China(PRC)</li>
            <li>Out-patient services started on March 29, 2009</li>
            <li>132 bedded and fully equipped Hospital</li>
            <li>Self-sustained as well as creative system</li>
            <li>Maintained as a not-for-profit hospital</li>
            <li>Advanced medical equipment and surgical services available.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>

  
{% include 'mainapp/footer.html' %}

 
<script src="https://kit.fontawesome.com/60f8143899.js" crossorigin="anonymous"></script>









  
{% endblock %}