{% extends 'mainapp/base.html' %}
{% load static %}
{% block navblock %}
<title>appointment details</title>


<br>

<div class="container">
    <div class="col-lg-8  mx-auto">
        {% if appointment.response == None %}
        <div class="border border-info card p-5 my-4 ">
            <h4>
                Appointment details:
            </h4><hr>
            <p>Dear, <b>{{appointment.user.first_name}} {{appointment.user.last_name}}</b>.</p>
            <p class='text-left'>Your appointment has been successfully booked on following date and time.</p>
                <p >Date : <b class='text-primary'>{{appointment.date}}</b></p>
                <p >Time : <b class='text-primary'>{{appointment.time}}</b></p>
            <p>With our experienced {{appointment.doctor.specilization}}, <b>Dr. {{appointment.doctor.user.first_name}} {{appointment.doctor.user.last_name}}</b> according to your provided details.</p>
                <p >Problem : <b class='text-dark'>{{appointment.doctor.specilization.problem_related}}</b></p>
                <p >Description : <b class='text-dark'>{{appointment.desc}}</b></p>
            <p>The appointment was applied on {{appointment.applied_date}}.</p>
            <div class="col-lg-4 mx-auto ">
            <a href="{%url 'mainapp:oldappointment'%}" class="btn btn-info mt-5 btn-sm">Back To All Appointments</a>

            </div>
            
        </div>
        {% else %}
        <div class="border border-info card p-5 my-4 ">
            <h4>
                Appointment details:
            </h4><hr>
            <p>Dear, <b>{{appointment.user.first_name}} {{appointment.user.last_name}}</b>.</p>
            <p class='text-left'>Your appointment has been successfully completed on following date and time.</p>
                <p >Date : <b class='text-primary'>{{appointment.date}}</b></p>
                <p >Time : <b class='text-primary'>{{appointment.time}}</b></p>
            <p>With our experienced {{appointment.doctor.specilization}}, <b>Dr. {{appointment.doctor.user.first_name}} {{appointment.doctor.user.last_name}}</b> according to your provided details.</p>
                <p >Problem : <b class='text-dark'>{{appointment.doctor.specilization.problem_related}}</b></p>
                <p >Description : <b class='text-dark'>{{appointment.desc}}</b></p>
            <p>The appointment was applied on {{appointment.applied_date}}.</p><hr>
            <p>The concerned doctor has prescribed you following details:</p>
            <p><i>{{appointment.response}}</i></p>
            <p>Thank you!</p>
            <div class="col-lg-4 mx-auto ">
            <a href="{%url 'mainapp:oldappointment'%}" class="btn btn-info mt-5 btn-sm">Back To All Appointments</a>

            </div>
            
        </div>

        {%endif%}
            
            
           

 



    </div>

</div>


    





<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/60f8143899.js" crossorigin="anonymous"></script>




{% include 'mainapp/footer.html' %}

{% endblock %}