{% extends 'mainapp/base.html' %}
{% load static %}
{% block navblock %}

<main class="container">
    <h1 class="text-center  text-info my-5 " >Contact </h1>
    <div class="row">
        <div class="col-lg-6 mx-4">
            <form>
                <div class="form-group">
                  
                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name">
                  
                </div>
                <div class="form-group">
                  
                  <input type="email" class="form-control" id="exampleInputPassword1" placeholder="E-mail">
                </div>
                <div class="form-group">
                    
                    <textarea class="form-control" id="exampleFormControlTextarea1"  placeholder="Description" rows="5"></textarea>
                  </div>
                </form>

                
                <button type="submit" class="btn btn-primary col-lg-12">Send</button>
              </form>
            
        </div>
        <div class="col-lg-3 my-5">
            <p> Get in touch with us</p>
            <p><i class="fas fa-map-marker-alt"></i> &nbsp Civil Service Hospital
                Minbhawan, New Baneshwor
                Kathmandu, Nepal</p>
            <a href=""><i class="far fa-envelope"></i> www.civilservicehospital.org</a> <br>  <br>  
            
            <p><i class="fas fa-phone-alt"></i> &nbsp 01-4107000</p>

        </div>

    </div>
</main>
{% include 'mainapp/footer.html' %}

  
<script src="https://kit.fontawesome.com/60f8143899.js" crossorigin="anonymous"></script>

{% endblock %}
