{% extends 'mainapp/base.html' %}
{% load static %}
{% block navblock %}


<div class="offset-1 " >
    <h2 >Research</h2> <br>
    <img  src="{% static 'mainapp/pics/civil1.jpeg' %}" class="img-fluid" style="width: 600px;" alt="imges"> <br>  <br>
    <img src="{% static 'mainapp/pics/civil2.jpeg' %}" class="img-fluid" style="width: 600px;" alt="imges">

</div>
<br><br>
{% include 'mainapp/footer.html' %}

  
<script src="https://kit.fontawesome.com/60f8143899.js" crossorigin="anonymous"></script>

{% endblock %}
