{% extends 'doctorsapp/layout.html' %}
{% load static %}
{% block content %}
<style>
    body {
    margin: 0;
    color: #2e323c;
    background: #f5f6fa;
    position: relative;
    height: 100%;
}
.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}
.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
}
.account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9fa8b9;
}
.account-settings .about {
    margin: 2rem 0 0 0;
    text-align: center;
}
.account-settings .about h5 {
    margin: 0 0 15px 0;
    color: #007ae1;
}
.account-settings .about p {
    font-size: 0.825rem;
}

.card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}
</style>

<div class="ok container my-3">
    <div class="container">
        <div class="row gutters">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
        <div class="card h-100">
            <div class="card-body">
                <div class="account-settings">
                   
                        <div class="user-profile">
                            <div class="user-avatar">
                                <img src="{{request.user.doctor.imageUrl}}" alt="doctor pic">
                            </div>
                            <h5 class="user-name">{{request.user.username}}</h5>
                            <h6 class="user-email">{{request.user.email}}</h6>
                        </div>
                        <div class="about">
                            <p>First Name: {{request.user.first_name}}</p>
                      <p>Last Name: {{request.user.last_name}}</p>
                      <p>Contact: {{request.user.doctor.contact}}</p>
                      <p>DoB: {{request.user.doctor.dob}}</p>
                      <p>Experience: {{request.user.doctor.total_experience_years}} years</p>
                      <p>Spealization: {{request.user.doctor.specilization}}</p>
                      <p>Degree: </p>
                      <img src="{{request.user.doctor.maximum_degree.url}}" alt="degree" height="200" width="100">
                      
                      <br>
                      
                            
      
                        </div>
                   
                </div>
            </div>
        </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
        <div class="card h-100">
            <div class="card-body">
                
                   
                        <h5 class="mb-2 text-primary text-center fw-light ">Update profile</h5>
                    
                    <form method="POST" enctype="multipart/form-data">
                    
                    <table class="table table-striped">
                        {%csrf_token%}
                        <div class="col-lg-2 mx-auto">
                            
                            <img src="/media/{{form.profile_pic.value}}" alt="pic" height="100" width="100" class="img-thumbnail">
                        </div><br>
                        {{ form.as_table}}
                    </table>
                    <div class="col-lg-4 ml-auto mt-5">
                        <div class="btn-group">
                            <a href="{% url 'doctorsapp:doctorhome' %}" class='btn btn-outline-danger btn-sm mr-3 ' onclick="return confirm('Do you really want to unchange?')">Discard</a>
                            <button type="submit" class='btn btn-success btn-sm'>Confirm change</button>
                        </div>
                        
                    </div>
                    </form>
                    
                    
                   


            
            </div>
        </div>
        </div>
        </div>
        </div>
</div>


   
{% include 'mainapp/footer.html' %}

 
<script src="https://kit.fontawesome.com/60f8143899.js" crossorigin="anonymous"></script>

{% endblock %}
